# Mysql

In [3]:
import mysql.connector

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Hemanth@2001",
    database="RAG"
)

cursor = conn.cursor()

In [4]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS employees (
    id INT PRIMARY KEY,
    name VARCHAR(100),
    role VARCHAR(100),
    salary INT
)
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS projects (
    id INT PRIMARY KEY,
    name VARCHAR(100),
    status VARCHAR(50),
    budget INT,
    employee_id INT
)
""")

conn.commit()

In [5]:
employees = [
    (1, "John Doe", "Software Engineer", 80000),
    (2, "Jane Smith", "Data Scientist", 90000),
]

projects = [
    (1, "RAG System", "Active", 150000, 1),
    (2, "ML Platform", "Planning", 250000, 2)
]

In [6]:
cursor.executemany("""
INSERT INTO employees (id, name, role, salary)
VALUES (%s, %s, %s, %s)
ON DUPLICATE KEY UPDATE
name=VALUES(name),
role=VALUES(role),
salary=VALUES(salary)
""", employees)

cursor.executemany("""
INSERT INTO projects (id, name, status, budget, employee_id)
VALUES (%s, %s, %s, %s, %s)
ON DUPLICATE KEY UPDATE
name=VALUES(name),
status=VALUES(status),
budget=VALUES(budget),
employee_id=VALUES(employee_id)
""", projects)

conn.commit()

In [7]:
import pandas as pd
from sqlalchemy import create_engine

# Create SQLAlchemy engine (URL-encoded password)
engine = create_engine(
    "mysql+mysqlconnector://root:Hemanth%402001@localhost/RAG"
)

# Read data from MySQL into DataFrame
df = pd.read_sql("""
SELECT e.id, e.name, e.role, e.salary,
       p.name AS project_name,
       p.status,
       p.budget
FROM employees e
JOIN projects p
    ON e.id = p.employee_id
""", engine)

df

   id        name               role  salary project_name    status  budget
0   1    John Doe  Software Engineer   80000   RAG System    Active  150000
1   2  Jane Smith     Data Scientist   90000  ML Platform  Planning  250000

# now this df is same as the csv/excel file

In [8]:
from langchain_core.documents import Document
from typing import List

def process_mysql_intelligently(df) -> List[Document]:
    documents = []

    for idx, row in df.iterrows():
        content = f"""Employee Information:
Name: {row['name']}
Role: {row['role']}
Salary: {row['salary']}

Project:
Name: {row['project_name']}
Status: {row['status']}
Budget: {row['budget']}
"""

        doc = Document(
            page_content=content,
            metadata={
                "source": "mysql",
                "employee_id": row["id"],
                "project": row["project_name"],
                "data_type": "employee_project"
            }
        )

        documents.append(doc)

    return documents

In [9]:
mysql_docs = process_mysql_intelligently(df)

print(f"Loaded {len(mysql_docs)} documents")
print(mysql_docs[0].page_content)
print(mysql_docs[0].metadata)

Loaded 2 documents
Employee Information:
Name: John Doe
Role: Software Engineer
Salary: 80000

Project:
Name: RAG System
Status: Active
Budget: 150000

{'source': 'mysql', 'employee_id': 1, 'project': 'RAG System', 'data_type': 'employee_project'}